.atm-title {
  text-align: center;
  margin-top: 0;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.block-container {
  display: flex;
  flex-direction: row;
}

.atm {
  background-color: #eff7ef;
}

@media only screen and (max-width: 600px) {
  .block-container {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
  }
}
