.tm-block {
  width: 15%;
  margin-left: 9%;
}
.tm-image {
  width: 128px;
  height: 128px;
}

.tm-info {
  display: flex;
  flex-direction: row;
}

.tm-course {
  background-color: orange;
  color: white;
  padding: 2%;
  margin-left: 25%;
  border-radius: 25px;
}
