.tm-block {
  width: 10vw;
  margin-left: 11vw;
}

.tm-image {
  border-style: solid;
  border-width: 1px;
  width: 100%;
  height: 75%;
  border: 1px;
}

.tm-info {
  display: flex;
  flex-direction: row;
}

h3 {
  color: #e97c57;
}

.tm-name {
  color: #4a766c;
}

.tm-course {
  background-color: #e97c57;
  color: #eff6ef;
  padding: 2%;
  margin-left: 4vw;
  border-radius: 25px;
}

@media only screen and (max-width: 600px) {
  .tm-block {
    margin: auto;
    width: 35%;
  }
}
