.c-title {
  text-align: center;
  margin-top: 0;
  padding-top: 5vh;
  color: #eff6ef;
}

.c-block {
  margin-top: 0;
  background-color: #396c60;
}

.c-blocks {
  flex: 1;
  padding-bottom: 5vh;
  text-align: center;
  color: #eff6ef;
}

.c-content {
  height: 35vh;
}

.concepts {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 25%;
}

.explanation {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 40vw;
}

.c-image {
  width: auto;
  height: auto;
  max-width: 75%;
  max-height: 75%;
}

@media only screen and (max-width: 320px) {
  .c-block {
    height: 170vh;
  }
}

@media only screen and (max-width: 600px) {
  .concepts {
    padding-top: 5vh;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }

  .explanation {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
  }

  .c-content {
    height: 100vh;
  }

  .c-image {
    margin-bottom: 5vh;
  }
}
