.con-title {
  text-align: center;
  color: #e97c57;
}

.con-content {
  height: 35vh;
  text-align: center;
  font-family: AvenirLTS-Roman;
  font-size: 18pt;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
}

.moreLink {
  color: black;
  background-color: #e97c57;
  font-family: Avenir-Heavy;
  padding: 8px;
  border-radius: 25px;
  text-decoration: none;
}

.con-block {
  margin-top: 0;
  padding-top: 5vh;
  background-color: #eff6ef;
}

@media only screen and (max-width: 600px) {
  .con-block {
    margin-top: 0;
    padding-top: 5vh;
    background-color: #eff6ef;
    height: 80vh;
  }
}
