.header {
  position: relative;
  text-align: center;
}

.header-image {
  display: block;
  width: 100%;
  height: 100vh;
}

.title {
  font-family: AvenirLTS-Medium;
  font-size: 32pt;
  text-align: left;
  color: #eff6ef;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.scheveningen {
  font-family: Avenir-Heavy;
}

@media only screen and (max-width: 600px) {
  .header-image {
    height: 75vh;
  }
}
