h2 {
  text-align: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.navbar {
  height: 10vh;
  width: 100vw;
  position: relative;
  background-color: #4a766c;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.left-block {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  float: right;
}

.team-name {
  font-family: Bauhaus;
  font-size: 18pt;
  text-align: right;
  color: #eff6ef;
  display: inline;
  padding-left: 2vw;
  margin-right: 5vw;
}

.right-block {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  float: right;
}

.navBarButton {
  text-align: right;
  color: #eff6ef;
  display: inline;
  font-family: AvenirLTS-Medium;
  margin-right: 5vw;
}

.bm-burger-button {
  float: right;
}
