h2 {
  text-align: center;
}

.logo {
  width: 64px;
  height: 64px;
}

.navbar {
  height: 15vh;
  width: 100vw;
  position: relative;
  background-color: #4a766c;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.left-block {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  float: right;
}

.team-name {
  font-family: Bauhaus;
  font-size: 18pt;
  text-align: right;
  position: absolute;
  top: -10%;
  left: 80%;
  color: #eff6ef;
  display: inline;
  padding-left: 2vw;
  margin-right: 5vw;
}

.right-block {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  float: right;
}

.navBarButton {
  text-align: right;
  color: #eff6ef;
  display: inline;
  font-family: AvenirLTS-Medium;
  margin-right: 5vw;
}

.bm-burger-button {
  float: right;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #eff6ef;
  border-radius: 5px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a3d2b6;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #eff6ef;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #396c60;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #396c60;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 600px) {
  .logo {
    padding-right: 10%;
    width: 32px;
    height: 32px;
  }

  .team-name {
    margin-top: 5px;
  }

  .left-block {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    float: right;
  }
}
