.deliv-title,
.del-title {
  text-align: center;
}

.block-container {
  display: flex;
  flex-direction: row;
}

.del-block {
  flex: 1;
}

.del {
  background-color: darkgreen;
  height: 28vh;
  border-radius: 8pt;
  margin: auto;
  width: 75%;
}
