.deliv-title {
  text-align: center;
  color: #e97c57;
  margin-top: 0;
  padding-top: 5vh;
}

.del-title {
  text-align: center;
  color: #e97c57;
}

.del-block {
  flex: 1;
  padding-bottom: 5vh;
}

.del {
  background-color: #a3d2b6;
  height: 48vh;
  border-radius: 8pt;
  margin: auto;
  width: 75%;
}

.deliv {
  background-color: #eff7ef;
}

@media only screen and (max-width: 600px) {
  .del-block {
    margin: auto;
    width: 100%;
    padding-bottom: 5vh;
  }
}
