.deliv-title {
  text-align: center;
  color: #e97c57;
  margin-top: 0;
  padding-top: 5vh;
}

.del-title {
  font-family: Avenir-Light;
  font-size: 20pt;
  text-align: center;
  color: #e97c57;
}

.del-block {
  flex: 1;
  padding-bottom: 5vh;
}

.del-left {
  background-color: #eff6ef;
  height: 75vh;
  border-radius: 8pt;
  margin: auto;
  width: 75%;
}

.del {
  background-color: #a3d2b6;
  height: 75vh;
  border-radius: 8pt;
  margin: auto;
  width: 75%;
}

.deliv {
  background-color: #eff6ef;
}

.del-image {
  width: 100%;
  height: 100%;
}

.theme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  height: 35vh;
}

.graph {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.question {
  color: #396c60;
  text-align: center;
  font-size: 18pt;
}

@media only screen and (max-width: 600px) {
  .del-block {
    margin: auto;
    width: 100%;
    padding-bottom: 5vh;
  }

  .del {
    background-color: #a3d2b6;
    height: 50vh;
    border-radius: 8pt;
    margin: auto;
    width: 90vw;
  }

  .theme {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 30vh;
  }

  .graph {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
  }
}
