.prototype {
  background-color: #396c60;
  padding-top: 10vh;
}

.proto-title {
  text-align: center;
  margin-top: 0;
  padding-top: 5vh;
  color: #eff6ef;
  margin-bottom: 0;
}

.prototype-scenario {
  padding-bottom: 5vh;
}

.scenario-title {
  text-align: center;
  font-family: AvenirLTS-Roman;
  font-size: 22pt;
  color: #eff6ef;
}

.scenario-row {
  background-color: #a3d2b6;
  height: 30vh;
  border-radius: 8pt;
  margin: auto;
  width: 80vw;
}

.text-row {
  flex-direction: row;
  margin-top: 0;
  height: 20vh;
  border-radius: 8pt;
  margin: auto;
  width: 80vw;
}

.description-text {
  width: 10.2vw;
  vertical-align: text-top;
  text-align: center;
  padding-left: 4.5vw;
  padding-right: 4.5vw;
  display: inline-block;
  font-family: AvenirLTS-Roman;
  color: #eff6ef;
}

.description-text-b {
  width: 10.2vw;
  vertical-align: text-top;
  text-align: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  display: inline-block;
  font-family: AvenirLTS-Roman;
  color: #eff6ef;
}

.description-text-c {
  vertical-align: text-top;
  text-align: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  font-family: AvenirLTS-Roman;
  color: #eff6ef;
}

.proto-image {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  max-width: 80%;
  max-height: 80%;
}

.proto-image-b {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 2%;
  max-width: 80%;
  max-height: 80%;
}

.vid-title {
  text-align: center;
  margin-top: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #eff6ef;
  margin-bottom: 0;
}
.mvp-vid {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
}

video {
  width: 100%;
  height: 100%;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .description-text {
    width: 10em;
    vertical-align: text-top;
    text-align: center;
    padding-left: 4.5vw;
    padding-right: 4.5vw;
    display: inline-block;
    font-size: 11pt;
    font-family: AvenirLTS-Roman;
    color: #eff6ef;
  }

  .mvp-vid {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  .description-text-b {
    width: 10em;
    vertical-align: text-top;
    text-align: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    display: inline-block;
    font-family: AvenirLTS-Roman;
    font-size: 11pt;
    color: #eff6ef;
  }
}
