body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  padding: 8px;
  text-decoration: none;
}

a:hover {
  background-color: #e97c57;
  padding: 8px;
  border-radius: 25px;
  text-decoration: none;
}

.divider-wave {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 75%;
  display: block;
}

@font-face {
  font-family: Avenir-Black;
  src: url("/src/fonts/Avenir-Black.ttf");
}

@font-face {
  font-family: Avenir-Heavy;
  src: url("/src/fonts/Avenir-Heavy.ttf");
}

@font-face {
  font-family: Avenir-Light;
  src: url("/src/fonts/Avenir-Light.ttf");
}

@font-face {
  font-family: AvenirLTS-Book;
  src: url("/src/fonts/AvenirLTStd-Book.otf");
}

@font-face {
  font-family: AvenirLTS-Medium;
  src: url("/src/fonts/AvenirLTStd-Medium.otf");
}

@font-face {
  font-family: AvenirLTS-Roman;
  src: url("/src/fonts/AvenirLTStd-Roman.otf");
}

@font-face {
  font-family: Bauhaus;
  src: url("/src/fonts/Bauhaus93Regular.ttf");
}
